:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
   font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* nav bar css */
.navbar-super {
  width: 1640;
  top: 50px;
  left: 140px;
  border-width: 1px;
}

.nav-bar-row-2 a{
  color: #111111;
}

.nav-btn {
  width: 11rem;
  height: 3rem;
  border-radius: 12.5rem;
  border: 1px solid #000000;
  background: white;
}

.nav-btn:hover {
  background: #00833D;
  border: 1px solid #00833D;
  color: white;
}

/* timer in banner css */
.bn-timer-container {
  position: absolute;
  width: 11%;
  height: 53%;
  top: 26%;
  left: 8%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  pointer-events: auto;
  background: linear-gradient(168.92deg, rgba(255, 255, 255, 0.3) -24.36%, rgba(255, 255, 255, 0.15) 111.12%);
  backdrop-filter: blur(40px);
}

.bn-row-num {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  line-height: 40px;
}

.bn-row-tl {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
}

/*banner btn css */

.btn-bnr {
  background: transparent;
  border: 1px solid whitesmoke;
  width: 11rem;
  height: 3rem;
  border-radius: 12.5rem;
  color: white;
}

.btn-bnr:hover {
  background: white;
  color: black
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.com-font-sm {
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: -1%;
}

.time-venue-box {
    display: flex;
    align-items: center;
}

.time-boxes {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(168.92deg, rgba(255, 255, 255, 0.3) -24.36%, rgba(255, 255, 255, 0.15) 111.12%);
  backdrop-filter: blur(40px);
  width: 5.875rem;
  height: 6.25rem;
  border-radius: 24px;
  font-size: 2.125rem;
  font-weight: 500;
}

.time-boxes span {
  font-size: 1.125rem;
  font-weight: 400;;
}

.venue-box {
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
}

.venue-box span {
  font-weight: 400;
}

.footer-col-heading {
  padding: 0 2.75rem 0 1rem !important;
}

.footer-col-heading h5 {
  font-size: 1.75rem;
  margin-bottom: 1.45rem;
  font-weight: 600;
  color: #73BF45;
  line-height: 1.75rem;
}

.footer-col-heading p, .footer-col-heading a {
  font-weight: 400;
  letter-spacing: -0.05rem;
  font-size: 1.25rem;
  line-height: 2.25rem;  
  font-weight: 400;
  color : #B8B8B8;
  margin-bottom: 1.5rem;
  text-decoration: none;
}

.footer-col-heading .social-icon {
  margin-right: 0.5rem;
}

.contact-us-divs {
  display: flex;;
  align-items: flex-start;
}

.contact-us-divs img {
  margin-right: 1.25rem;
  padding-top: 0.75rem;
}

.footer-btm {
  margin-bottom: 1.5rem;
  display: flex;
    margin-bottom: 1.5rem;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 1.15rem;
    font-weight: 400;
    letter-spacing: 0.015rem;
    color: #5C5B5B;
}

.venue-green-box {
  position: absolute;
  width: 40%;
  height: 70%;
  bottom: 15%;
  margin-left: 10%;
  border-radius: 40px;
  overflow: hidden;
}

.venue-bg-blend {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00833D;
  mix-blend-mode: multiply;
  z-index: 0;
}

.venue-content {
  position: relative;
  z-index: 1;
  padding: 2.5rem;
  margin-left: 2.5rem;
  color: white; /* Ensure text is visible */
}

.venue-content h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}


.blended-bg {
  background: #00833D;
  mix-blend-mode: Multiply;
}

.venue-gr-bx-item {
  display: flex;
  width: 50%;
  align-items: center;;
}

.venue-gr-bx-item img {
  margin-right: 1rem;
  width: 65px;
  height: 65px;
  padding-bottom: 10px;
}

.venue-gr-bx-item p {
  font-size: 1.2rem;
  font-weight: 500;
}

.venue-gr-bx-item > p:first-child {
  width: 40%;
}

.venue-gr-bx-item span {
  font-weight: 400;
}


.gradient-left,
.gradient-right {
  position: absolute;
  width: 29rem;
  top: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}

.gradient-left {
  left: 0;
  background: linear-gradient(to left, rgba(250, 250, 250, 0) 0%, #FAFAFA 80%);
}

.gradient-right {
  right: 0;
  background: linear-gradient(to right, rgba(250, 250, 250, 0) 0%, #FAFAFA 80%);
}

.scroll-content {
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;    
}

.md-ezy-right {
  border: 1px solid #b0b0b0;
  border-radius: 30px;
  height: 100%;
  padding: 1rem 0.5rem;
  margin-right: 1rem;
}

.md-ezy-right h5 {
  font-size: 1.75rem;
  font-weight: 600;
}

.md-ezy-right ul {
  margin-left: 1rem;
}

.md-ezy-right li {
  font-size: 1.45rem;
  font-weight: 400;
}

.exbtn { 
    position: absolute;
    top: 25%;
    display: flex;
    z-index: 5;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.exbtn-boxs {
  width: 250px;
  height: 200px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.3) 100%);
  border-radius: 30px;
  color: #FFFFFF;
  backdrop-filter: blur(25px);
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  margin: 0 1rem;
}

.exbtn h3 {
  width: 20%;
  padding: 1rem;
  padding-top: 3.5rem;
  color: #FFFFFF;
  font-family: Poppins, sans-serif;
  font-size: 2.75rem;
  font-weight: 600;
  font-family: 'Poppins';
  letter-spacing: 0.1rem;
}

.exbtn-boxs p {
  font-size: 2.5rem;
  font-weight: 700;
}

.exbtn-boxs span {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0;
}

.series-box {
  background: radial-gradient(81.85% 81.85% at 50% 50%, #00833D 0%, #000000 100%);
  color: #FFFFFF;
  padding: 3rem 2rem;
}

.series-box h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
}

.series-box h6 {
  font-size: 1.5rem;
  font-weight: 400;
}

.upcmg-head {
  display: flex;
  margin: 1rem 4rem;
  margin-bottom: 1rem;
  flex-direction: row;
  align-items: center;
}

.line-El {
  width: 70%;
  height: 1px;
  margin-left: 1rem;
  border-bottom: 1px solid #FFFFFF40
}

.pst-body-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 2rem;
}